.nav{
    display: flex;
    width:95%;
    position: fixed;
    z-index: 1;
    padding:20px 2.5% 18px;
    border-bottom: 1px solid #F0F0F5;
    background-color: white;
    min-width: 800px;
}

.nav img{
    margin:8px 15px 8px 0;
}

.nav > div{
    margin:0 10px; 
}

.left{
    cursor: pointer;
}

.left strong{
    font-size:16px;
}

.left span{
    font-size: 12px;
    color : #848096;
    font-weight: 300;
}

.flex_grow{
    flex-grow: 1;
}

.right{
    padding:12px 0 0;
    color : #414146;
    font-size: 15px;
    cursor: pointer;
}

.login_btn{
    border:1px solid #b3b3b3;
    color : #999999;
    background-color: transparent;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    padding: 7px 10px;
    margin-top: -10px;
}

.login_btn:hover{
    border:1px solid #32B7DF;
    color : #32B7DF;
}

@media screen and (max-width: 860px) {
    .left{
        flex:18%
    }
    .nav{
        flex-wrap: wrap;
    }
    .flex_grow{
        flex-grow: 0;
    }
    .right{
        flex:30%;
        text-align: center;
    }
}
