.nav{
    display: flex;
    width:95%;
    position: fixed;
    z-index: 1;
    padding:20px 2.5% 18px;
    border-bottom: 1px solid #F0F0F5;
    background-color: white;
}

.nav img{
    margin:8px 15px 8px 0;
}

.nav > div{
    margin:0 10px; 
}

.left{
    cursor: pointer;
}

.left strong{
    font-size:16px;
}

.left span{
    font-size: 12px;
    color : #848096;
    font-weight: 300;
}

.flex_grow{
    flex-grow: 1;
}

.right{
    padding:12px 0 0;
    color : #414146;
    font-size: 15px;
    cursor: pointer;
}
