.container{
    display: flex;
    justify-content: center;
    margin:15px 0;
}

.container input{
    border:none; 
    outline: none;
}

.container > div{
    padding: 14.5px 10px;
    border:0.5px solid #B4B4BE;
    background-color: white;
}

.location{
    width:20%;
    position : relative;
}

.location_add_icon{
    position: absolute;
    top : 15px;
    right:20px;
    color : grey;
}

.location > input{
    padding-left : 35px;
    padding-right: 40px;
    width:65%;
}

.main{
    width:30%;
    position : relative;
}

.search_icon, .location_icon{
    position: absolute;
    top : 14.5px;
    color: grey;
}

.main > input{
    padding-left : 35px;
    width:80%;
}

.dropdown{
    position: absolute;
    width: 100%;
    background-color: white;
    top:50px;
    left:0px;
    overflow: auto;
    max-height: 300px;
}

.speciality{
    font-size: 13px;
    color : #8D809E;
}

.speciality span{
    margin: 0 1%;
    cursor: pointer;
}

.speciality > span:hover{
    text-decoration: underline;
    color:white;
}
