.cartButton{
    float: right;
}

.topCont{
    width: 85%;
    margin: auto;
    padding: 1em;
}

.top{
    box-shadow: -2px 11px 14px 0px rgba(245,245,245,0.75);
}


.mainCont{
    width: 85%;
    margin: auto;
}

.categories{
    display: flex;
}

.categories_card{
    flex: 1;
    width: 20%;
    margin: 0.5em;
}

.categories_card img{
    width: 100%;
    border-radius: 5px;
}

.categories_card img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* .categories_card:hover + .categories_card img{
    transform: scale(1.1);
} */